# .env
PORT=8000
NODE_ENV=development

# Database Connection (Adjust user/password/host/port to match your setup)
DATABASE_URL="postgresql://postgres_link"

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379

# Admin Auth Key
ADMIN_API_KEY="choose_your_dev_admin_secret_key"

# Provider Sandbox Keys
STRIPE_SECRET_KEY="sk_test_mock"
STRIPE_WEBHOOK_SECRET="whsec_mock"
LOB_API_KEY="test_mock"
PHAXIO_API_KEY="test_mock"
PHAXIO_API_SECRET="test_mock"
